<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angel.provider.mapper.BlogCommentMapper">
  <resultMap id="BaseResultMap" type="com.angel.provider.model.domain.BlogComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>

  <resultMap id="PageResultMap" type="com.angel.provider.model.domain.BlogComment" extends="BaseResultMap">
    <collection property="blogCommentList" ofType="com.angel.provider.model.domain.BlogComment"
                javaType="java.util.List" select="com.angel.provider.mapper.BlogCommentMapper.selectCommentByPId" column="id">
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, p_id, article_id, user_id, nickname, email, website, content, create_time, update_time, 
    is_del
  </sql>

  <sql id="commonCondition">
    where IS_DEL = 0
    <if test="condition.id != null">
      AND id = #{condition.id}
    </if>
    <if test="condition.pId != null">
      AND p_id = #{condition.pId}
    </if>
    <if test="condition.articleId != null">
      AND article_id = #{condition.articleId}
    </if>
    <if test="condition.userId != null">
      AND user_id = #{condition.userId}
    </if>
    <if test="condition.nickname != null">
      AND nickname LIKE concat(concat('%',#{condition.nickname}),'%')
    </if>
  </sql>

  <select id="selectCountByArticleId" resultType="long" parameterType="int">
    select
      count(1)
    from blog_comment
    where article_id = #{articleId}
  </select>

  <select id="selectBlogCommentConditionPage" resultMap="PageResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    blog_comment
    <include refid="commonCondition" />
    ORDER BY CREATE_TIME desc
  </select>

  <select id="selectCommentByPId" resultMap="BaseResultMap" parameterType="int">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    blog_comment
    WHERE
    p_id = #{pId}
  </select>
</mapper>